{
  "root": true,
  "plugins": [
    "eslint-plugin-prettier", 
    "eslint-config-prettier"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
  },
  "parserOptions": {
    "ecmaVersion": "latest"
},
}